# Java/Gradle
bin/
build/
.gradle/
*.iml
.idea/
out/
*.class
*.jar
*.log
*.tmp
*.swp
*.swo
.DS_Store
*.db
*.sqlite
*.h2.db
*.mv.db
*.pid
*.lock
*.orig
*.rej
# OS
Thumbs.db
Desktop.ini
# VSCode
.vscode/
# JetBrains
*.ipr
*.iws
*.bak
# Local config
config_local.yml

